@import url('normalize.css');

:root {
    --primary: rgb(254, 44, 85);
    --black: rgb(18, 18, 18);
    --white: rgba(255, 255, 255, 0.9);
    --text-color: #161823;
    --default-layout-header-height: 60px;
    --default-layout-width: 100%;
    --default-layout-horizontal-spacer: 24px;
    --opacity-text: rgba(22, 24, 35, 0.5);

    //light mode
    --body-background: #fff;
    --separate: rgba(22, 24, 35, 0.12);

    //search
    --search-background: rgba(22, 24, 35, 0.06);
    --search-box-shadow: rgb(0 0 0 / 12%);
    --search-input-border: rgb(22 24 35 / 20%);
    --search-icon: rgb(22 24 35 / 34%);
    --search-hover-icon: rgba(22, 24, 35, 1);
    --search-title: rgb(22 24 35 / 50%);

    //upload
    --header-button-upload-background: var(--white);
    --header-button-upload-hover: rgba(22, 24, 35, 0.03);

    //side bar
    --side-bar-item-hover: rgba(22, 24, 35, 0.03);

    //menu item
    --menu-hover: rgba(22, 24, 35, 0.03);

    //tippy menu user
    --popper-wrapper-background: #fff;

    // comment profile
    --comment-profile-background: rgba(22, 24, 35, 0.03);

    //account-item
    --account-item-username: rgb(22 24 25 / 50%);

    //scroll bar
    --scroll-bar-background: rgba(0, 0, 0, 0);
    --scroll-bar: rgba(22, 24, 35, 0.06);

    //profile
    --profile-icon-hover: rgba(0, 0, 0, 0.12);

    // popper
    --box-shadow-popper: 0px 2px 12px rgb(0 0 0 / 12%);

    //background loading
    --background-loading: linear-gradient(to right, #fafafa 0%, #f4f4f4 25%, #fafafa 50%);

    //login
    --login-background-hover: #fff;

    --font-family: 'TikTokFont', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

html {
    font-size: 62.5%;
}

[data-theme='dark'] {
    --body-background: var(--black);
    --text-color: var(--white);
    --login-background-hover: var(--black);
    --search-background: rgba(255, 255, 255, 0.12);
    --separate: rgba(255, 255, 255, 0.2);
    --search-box-shadow: var(--separate);
    --search-input-border: rgba(255, 255, 255, 0.2);
    --search-icon: rgba(255, 255, 255, 0.34);
    --search-hover-icon: rgba(255, 255, 255, 0.9);
    --search-title: rgba(255, 255, 255, 0.9);
    --header-button-upload-background: var(--search-background);
    --header-button-upload-hover: rgba(255, 255, 255, 0.08);
    --account-item-username: rgba(255, 255, 255, 0.9);
    --side-bar-item-hover: rgba(255, 255, 255, 0.08);
    --menu-hover: rgba(255, 255, 255, 0.04);
    --popper-wrapper-background: #1f1f1f;
    --scroll-bar-background: rgba(22, 24, 35, 0.06);
    --scroll-bar: #252525;
    --profile-icon-hover: rgba(255, 255, 255, 0.19);
    --opacity-text: rgba(255, 255, 255, 0.5);
    --background-loading: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.12) 0%,
        rgba(18, 18, 18, 1) 25%,
        rgba(255, 255, 255, 0.12) 50%
    );

    --comment-profile-background: var(--search-background);
}

body {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: var(--body-background);
}

//scroll bar css
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}
html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scroll-bar);
}
html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--scroll-bar-background);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

li {
    list-style: none;
    color: var(--text-color);
}

//fonts embed
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

//custom tippyJs tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
