.wrapper {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0px;
        height: 1.5px;
        background: var(--separate);
        transform: scaleY(0.5);
    }
}

strong {
    color: var(--text-color);
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background-color: var(--side-bar-item-hover);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
    margin-top: 0;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.2rem;
    color: var(--text-color);
}

.more-btn,
.no-more-results {
    font-size: 1.4rem;
    color: var(--primary);
    padding: 8px;
    cursor: pointer;
    font-weight: 700;
    user-select: none;
}

.no-more-results {
    cursor: default;
    color: var(--text-color);
}

//loading call api
.account-loading {
    display: flex;
    padding: 8px;
    position: relative;
    border-radius: 4px;
}

.avatar-loading {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--search-background);
}

.item-info-loading {
    margin-left: 14px;
}

.nickname-loading {
    width: 100px;
    height: 8px;
    background-color: var(--search-background);
    top: 14px;
    position: absolute;
    border-radius: 4px;
}

.name-loading {
    width: 50px;
    height: 8px;
    background-color: var(--search-background);
    top: 28px;
    position: absolute;
    border-radius: 4px;
}
