.wrapper {
    inset: 60px 0px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(-60px + 100vh);
    -webkit-box-pack: center;
    justify-content: center;
    padding: 16px 24px 10px 20px;
    background-color: var(--background-message);
    position: relative;
}

.list-account {
    position: relative;
    width: 356px;
    height: 100%;
    background-color: var(--div-background);
    box-shadow: var(--div-box-shadow);
    border-radius: 8px;
}

.btn-close {
    position: absolute;
    color: var(--text-color);
    background-color: var(--search-background);
    top: 8px;
    cursor: pointer;
    transform: none;
    left: -56px;
}

.menu-header {
    width: 100%;
    height: 60px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 16px 0px 24px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.title {
    color: var(--text-color);
    font-size: 2.4rem;
}

.btn-setting {
    cursor: pointer;
    color: var(--text-color);
    vertical-align: middle;
}

.empty-chat {
    padding: 0px 16px;
    height: 72px;
    font-size: 14px;
    line-height: 72px;
}

.has-chat {
    width: 100%;
    height: 72px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 24px;
    box-sizing: border-box;
    background-color: inherit;
    cursor: pointer;

    &.selected {
        background-color: var(--menu-hover);
    }

    &:hover {
        background-color: var(--menu-hover);

        > .wrapper-icon {
            opacity: 1;
            display: block;
        }
    }
}

.item-info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.img-wrapper {
    width: 56px;
    height: 56px;
    position: relative;

    &.online::after {
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        bottom: 0;
        right: 0;
        background-color: #3e9a4a;
        border: 2px solid var(--div-background);
    }
}

.avatar {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    line-height: 32px;
    display: block;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    object-fit: cover;
}

.text-wrapper {
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.info-nickname {
    font-size: 16px;
    line-height: 22px;
    min-height: 22px;
    color: var(--text-color);
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
}

.check {
    color: rgb(32 213 236);
    font-size: 1.6rem;
    margin-left: 6px;
}

.info-extract-time {
    display: flex;
    justify-content: start;
    width: 100%;
    max-width: 224px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 20px;
    color: var(--opacity-text);
}

.wrapper-icon {
    opacity: 0;
    font-size: 2.4rem;
    display: none;

    &.tooltip,
    &.mute {
        opacity: 1;
        display: block;
    }
}

.ellipsis-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-action {
    padding: 0px 16px;
    width: 200px;
    height: 48px;

    &:hover {
        background-color: var(--menu-hover);
    }
}

.menu-list {
    padding-bottom: 8px;
}

.action-detail {
    position: relative;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    padding-right: 20px;
    font-weight: 600;

    &.separate::before {
        content: '';
        background: var(--separate);
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 1px;
        transform: scaleY(0.5);
    }
}

.icon {
    width: 16px;
    height: 16px;
    color: var(--text-color);
    margin-right: 8px;
}

.action-title {
    color: var(--text-color);
    font-size: 1.6rem;
}

.chat-box {
    z-index: unset;
    display: flex;
    flex-direction: column;
    width: 728px;
    height: 100%;
    background-color: var(--div-background);
    box-shadow: var(--div-box-shadow);
    border-radius: 8px;
    margin-left: 16px;
}

.chat-header {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 16px 0px 16px 16px;
    border-bottom: 0.5px solid var(--separate);
    box-shadow: unset;
}

.wrapper-info {
    display: flex;
}

.span-avatar-user {
    position: relative;
    overflow: hidden;
    color: var(--text-color);
    white-space: nowrap;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;

    &.online::after {
        position: absolute;
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 50%;
        bottom: 0;
        right: 0;
        background-color: #3e9a4a;
        border: 2px solid var(--div-background);
    }
}

.avatar-user {
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.container-name {
    margin-left: 12px;
}

.chat-full-name {
    max-width: 640px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.chat-nickname {
    color: var(--opacity-text);
    font-size: 16px;
    line-height: 21px;
    margin-top: 2px;
}

.content-message {
    padding: 24px 0px 16px;
    flex: 1;
    overflow-y: overlay;
}

.div-chat-item-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.message-container {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    margin: 8px 0px 8px 24px;

    &.right {
        align-self: flex-end;
        flex-direction: row-reverse;
        margin: 8px 12px 8px 0px;
    }

    &:hover > .ellipsis-icon-2 {
        visibility: visible;
    }
}

.action-menu {
    background-color: #45464f;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 8px;
    border-radius: 8px;
    white-space: nowrap;
    position: relative;
}

.item-action {
    color: var(--white);
    font-size: 1.3rem;
    margin: 0 4px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.top-arrow {
    position: absolute;
    transform: rotate(-180deg);
    bottom: -8px;
    color: #45464f;
}

.span-avatar-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--text-color);
    white-space: nowrap;
    text-align: center;
    line-height: 32px;
}

.avatar-message {
    object-fit: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.text-container {
    overflow: hidden;
    width: fit-content;
    max-width: 360px;
    padding: 7px 12px;
    border-radius: 8px;
    border: 1px solid var(--comment-profile-background);
    background: var(--comment-profile-background);
    word-break: break-word;
    white-space: pre-line;
    margin-left: 8px;
    font-size: 16px;
    line-height: 21px;

    &.right {
        margin-left: 0;
        margin-right: 8px;
        background: var(--background-chat-message);
        border: 1px solid var(--background-chat-message);
    }
}

.text {
    white-space: pre-wrap;
    word-break: break-word;
}

.ellipsis-icon-2 {
    cursor: pointer;
    opacity: 0.8;
    margin-left: 12px;
    visibility: hidden;
    display: flex;
    align-self: center;

    &.right {
        margin: 0;
        margin-right: 12px;
    }
}

.verify-message {
    margin: 8px 0px;
    text-align: center;
    width: 100%;
    padding: 0px 50px;
    overflow-wrap: break-word;
    color: var(--opacity-text);
    font-size: 14px;
    line-height: 18px;
}

.wrapper-send {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 10px 16px;
    border-top: 0.5px solid var(--separate);
}

.bottom-action {
    margin-top: 0 !important;
}
