.wrapper {
    margin-left: 224px;
    background-color: var(--background-color);
    height: 860px;
    display: flex;
    flex-direction: column;
    // margin-top: 18px;
    padding: 32px 24px 36px;

    --height-info: 212px;
}
