.container {
    margin-left: 224px;
}

.wrapper {
    position: relative;
    margin: 0px auto;
    width: 100%;
    min-width: 420px;
    flex-shrink: 1;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
    transition: flex 300ms linear;
}

.colum-list-container {
    width: 100%;
    background-color: var(--body-background);
    max-height: calc(-60px + 100vh);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
}
