.container {
    width: 700px;
    background-color: var(--body-background);
    box-shadow: var(--box-shadow-popper);
    border-radius: 8px;
    transform: scale(0.5);
    opacity: 0;
    transition:
        opacity 100ms ease-in,
        transform 100ms ease-in;

    &.show {
        opacity: 1;
        transform: scale(1);
    }

    &.hide {
        transform: scale(0.5);
        opacity: 0;
    }
}

.header {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 24px;
    height: 72px;
}

.title {
    font-size: 24px;
    line-height: 32px;
    font-family: TikTokFont;
    font-weight: 700;
}

.content {
    position: relative;
    height: auto;
    padding: 0px 24px;
}

.what {
    width: 100%;
    padding: 16px 0px 0px;
    font-size: 16px;
    line-height: 22px;
    font-family: TikTokFont;
    font-weight: 600;
}

.detail {
    padding-top: 4px;
    font-size: 12px;
    line-height: 15px;
    color: var(--opacity-text);
    word-break: break-word;
    font-family: TikTokFont;
}

.radio-group {
    padding-top: 24px;
}

.footer {
    padding: 23px 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
}

.button-container {
    width: 344px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.button-cancel {
    min-width: 16.4rem;
    min-height: 36px;
    color: var(--text-color);
    background-color: var(--search-background);

    &:hover {
        border: 1px solid var(--separate);
        background-color: var(--body-background);
    }
}

.button-next {
    min-width: 164px;
    min-height: 36px;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
