.wrapper {
    margin: 0 224px 0 448px;
    height: 860px;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 36px;
    background-color: var(--background-color);
    min-width: 420px;
}
