.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 1px var(--search-box-shadow);
    display: flex;
    height: var(--default-layout-header-height);
    justify-content: center;
    background-color: var(--body-background);
    z-index: 10;
    width: 100%;
}

.inner {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    justify-content: space-between;
    width: var(--default-layout-width);
}

.logo-link {
    display: flex;
    min-width: 300px;
}

.custom-login {
    color: red;
}

//actions
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload {
    color: var(--text-color);
    background-color: var(--header-button-upload-background);
    &:hover {
        background-color: var(--header-button-upload-hover);
    }
}

.sub-icon {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    background-color: transparent;
    color: var(--text-color);
    margin-left: 24px;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    color: #161823;
    color: var(--text-color);
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
}

.inbox-icon {
    padding: 1px 9px;
    position: relative;
    &::after {
        content: '99+';
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
        left: 22px;
        background: var(--primary);
        min-width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        position: absolute;
        top: -20%;
        padding: 0px 6px;
        color: var(--white);
        font-family: var(--font-family);
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.login {
    width: 100px;
}
