.tiktok-loader {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 9999;
    transform: translate(-40%, -50%);
}

.tiktok-loader::before,
.tiktok-loader::after {
    position: absolute;
    content: '';
    top: 4px;
    background-color: #ff3e9e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    mix-blend-mode: multiply;
    animation: tiktok-loader 1s linear infinite;
}

.tiktok-loader::after {
    background-color: #4de8f4;
    animation-delay: 0.5s;
}

@keyframes tiktok-loader {
    0%,
    100% {
        top: 4px;
        left: 8px;
        width: 16px;
        height: 16px;
        z-index: 0;
    }

    25% {
        top: 2px;
        height: 20px; /* Chiều cao và chiều rộng đồng đều */
        width: 20px;
        z-index: 1;
        left: 16px; /* Khoảng cách xoay ngắn hơn */
    }

    50% {
        top: 4px;
        width: 16px;
        height: 16px;
        left: 28px; /* Khoảng cách giữa hai vòng tròn ngắn lại */
    }

    75% {
        top: 4px;
        width: 16px;
        height: 16px;
        left: 18px;
    }
}
