.wrapper {
    padding: 20px;
    width: 320px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 6px 16px;
    width: 108px;
    height: 40px;
    background-color: var(--popper-wrapper-background);
    color: var(--primary);

    &:hover {
        background-color: rgba(243, 21, 65, 0.122);
    }

    &.following {
        background-color: var(--popper-wrapper-background);
        color: var(--text-color);
        border: 1px solid var(--search-title);
    }
}
.body {
    margin-top: 12px;
    color: #161823;
}

.nickname {
    font-size: 1.8rem;
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.name {
    font-size: 1.4rem;
    color: var(--account-item-username);
}

.analytics {
    margin-top: 10px;
    font-size: 1.8rem;
}

.value ~ .value {
    margin-left: 18px;
}

.label {
    color: var(--account-item-username);
}

.show-bio {
    &.has-bio {
        border-top: 1px solid var(--separate);
        font-size: 14px;
        line-height: 18px;
        padding-top: 16px;
        margin-top: 16px;
        color: var(--text-color);
    }
}
