.wrapper {
    padding: 20px;
    width: 320px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 6px 16px;
    width: 108px;
    background-color: var(--popper-wrapper-background);
    color: var(--primary);

    &:hover {
        background-color: rgba(243, 21, 65, 0.122);
    }

    &.following {
        background-color: var(--primary);
        color: white;
    }
}
.body {
    margin-top: 12px;
    color: #161823;
}

.nickname {
    font-size: 1.8rem;
}
.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}
.name {
    font-size: 1.4rem;
    color: var(--account-item-username);
}
.analytics {
    margin-top: 10px;
    font-size: 1.8rem;
}
.value ~ .value {
    margin-left: 18px;
}
.label {
    color: var(--account-item-username);
}
