.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    height: var(--default-layout-header-height, 60px);
    justify-content: center;
    width: 100%;
}

.inner {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    justify-content: space-between;
    width: var(--default-layout-width);
}

.search,
.search-result {
    width: 361px;
}

.search {
    background-color: rgb(22 24 35 / 6%);
    border: 1.5px solid transparent;
    border-radius: var(--search-border-radius);
    display: flex;
    height: var(--search-height);
    padding-left: 16px;
    position: relative;

    input {
        background-color: transparent;
        caret-color: var(--primary);
        color: var(--black);
        flex: 1;
        font-size: 1.6rem;
        height: 100%;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgb(22 24 35 / 75%);
    }

    &::after {
        background-color: rgb(22 24 35 / 12%);
        content: '';
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        position: absolute;
        right: var(--search-button-width);
        top: var(--search-top-spacer);
        width: 1px;
    }

    &:focus-within {
        border-color: rgb(22 24 35 / 20%);
    }
}

.search-title {
    color: rgb(22 24 35 / 50%);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.clear,
.loading {
    color: rgb(22 24 35 / 34%);
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
}

.search-btn {
    border-bottom-right-radius: var(--search-border-radius);
    border-top-right-radius: var(--search-border-radius);
    color: rgb(22 24 35 / 34%);
    font-size: 1.8rem;
    height: 100%;
    width: var(--search-button-width);

    &:hover {
        background-color: rgb(22 24 35 / 3%);
        cursor: pointer;
    }

    &:active {
        background-color: rgb(22 24 35 / 6%);
    }
}

.custom-login {
    color: red;
}

//actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    background-color: transparent;
    margin-left: 24px;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    color: #161823;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
