.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    height: var(--default-layout-header-height, 60px);
    justify-content: center;
    width: 100%;
}

.inner {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    justify-content: space-between;
    width: var(--default-layout-width);
}

.custom-login {
    color: red;
}

//actions
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-icon {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    background-color: transparent;
    margin-left: 24px;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    color: #161823;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
}

.inbox-icon {
    padding: 1px 9px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
