.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin-top: calc(-1 * var(--default-layout-header-height));

    // margin-left: calc(-1 * var(--default-layout-horizontal-spacer));
    // margin-right: calc(-1 * var(--default-layout-horizontal-spacer));
    position: relative;
    z-index: 3;
}

.aside {
    flex: 1;
}

.comment {
    width: 532px;
}
