.wrapper {
    --width-comment: 554px;

    width: var(--width-comment);
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 100vh;
    margin: 0;
    flex: 0 0 var(--width-comment);
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding-right: 8px;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

.search-comment-container {
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    border-bottom: 1px solid var(--separate);
    overflow: hidden;
    -webkit-box-flex: 1;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100px;
    overflow-y: scroll;
}

.comment-list-container {
    width: 100%;
    overflow: hidden auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    padding: 0px 32px 46px;
}

.comment-list-container:first-of-type {
    padding-top: 24px;
}

.action-container {
    position: relative;
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
}

.menu {
    padding: 8px 0px;
    margin: 0px;
    min-width: 200px;
    list-style: none;
    box-sizing: border-box;
    border-radius: 8px;
    user-select: none;
    background-color: var(--popper-wrapper-background);
    box-shadow: var(--box-shadow-popper);
}

.top-arrow {
    position: absolute;
    color: var(--popper-wrapper-background);
    z-index: 1;
    top: -8px;
    right: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 16px;
    box-sizing: border-box;
    color: var(--text-color);

    &.separate::after {
        content: '';
        display: block;
        width: calc(100% - 32px);
        height: 0.5px;
        position: absolute;
        bottom: 0px;
        left: 16px;
        background: var(--separate);
    }

    &.share {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 11px 16px;
        margin: 0px 3px 0px 4px;
        position: relative;
        width: 270px;

        &:hover {
            color: var(--text-color);
            background-color: var(--menu-hover);
        }
    }

    &.ellipsis-menu:hover {
        color: var(--primary);
    }

    &:hover {
        color: var(--primary);
    }
}

.title-share {
    margin-left: 12px;
    font-size: 1.6rem;
}

.tab-menu-container {
    padding-top: 18px;
    height: 50px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
    background-color: var(--body-background);
}

.nav-menu {
    height: 44px;
    margin-top: 18px;
    background-color: var(--body-background);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--separate);
    margin-bottom: 24px;
}

.nav-button {
    height: 100%;
    padding: 0 32px;
    background-color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1.8rem;
    font-weight: 600;

    &.nav-button {
        margin-left: 0;
    }

    .title {
        color: var(--text-color);
        font-size: 1.4rem;
    }
}

.tab-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 1.5px;
    transition: transform 0.3s linear;
    background-color: currentColor;
}

.nav-button:not(.active) {
    opacity: 0.6;
}

.nav-button:nth-child(1) {
    &:hover {
        ~ .tab-line {
            transform: translateX(0%) !important;
        }
    }
    &.active {
        ~ .tab-line {
            transform: translateX(0%);
        }
    }
}

.nav-button:nth-child(2) {
    &:hover {
        ~ .tab-line {
            transform: translateX(100%) !important;
        }
    }
    &.active {
        ~ .tab-line {
            transform: translateX(100%);
        }
    }
}

.bottom-comment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    padding: 20px 0px;
    background-color: var(--body-background);
    position: relative;
    bottom: 0;
    width: 100%;
}

.div-wrapper-input {
    width: 100%;
    margin: 0 30px;
    display: flex;
}

.wrapper-input {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 8px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0px 9px;
    cursor: text;
    justify-content: flex-end;
    background-color: var(--comment-profile-background);

    &:focus-within {
        border-color: var(--search-input-border);
    }
}

.input-submit {
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    color: var(--text-color);
    caret-color: var(--primary);
    background-color: transparent;
}

.at-symbol-icon,
.emoji-icon {
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 5px;

    &:hover {
        background-color: var(--search-background);
        cursor: pointer;
        border-radius: 4px;
    }
}

.button-submit {
    color: var(--opacity-text);
    font-weight: 600;
    cursor: default;
    flex: 0 0 48px;
    font-size: 14px;
    line-height: 39px;
    text-align: right;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &.active {
        color: var(--primary);
        cursor: pointer;
    }
}
